
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

div {
  border-width: 1px;
  /*border-style: dashed;*/
  border-color: white;
  /* width: 90%;*/
}

#main {
  background: #08e3cd;

}

.container {
  padding-top: 50px;
}

h2 {
  border-color: lavenderblush;
  background: #3b5994;
  width: 40%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 2%;
  box-shadow: 5px 5px 15px rgba(0,0,0,10);
  font-weight: bold;
  color: #FFFFFF;
}

select {
  box-shadow: 5px 5px 15px rgba(2,0,0,3);
  border-radius: 10px;
  background: honeydew;
}

.form-group {
  width:60%;
  margin: auto
}
input {
  box-shadow: 5px 5px 15px rgba(2,0,0,3);
  border-radius: 10px;
  background: honeydew;
}
label {
  width: 70%;
  margin-top: 5px;
  font-weight: bold;
}
img.snapshot {
  border-width: 5px;
  border-style: solid;
  border-color: #42e8f8;
  vertical-align: top;
  margin: 0px;
  border-radius: 10px;
}

.btn {
  background: #3b5994;
}


